[2022-05-18 14:19] #482 closed

[2022-05-18 14:21] jacobtomlinson opened #497 "Support Istio and using the envoy proxy"
A follow up to #482 which was solved by disabling Istio sidecar injection on our pods in #496.

It would be nice to get actual support working. #488 makes a start but isn't working yet.

Some context from #482:

[2022-05-18 14:53] #491 closed

[2022-05-18 22:18] jadeidev opened #498 "Running dask from within k8s cluster"
**What happened**:
I am trying to run my dask application from within the k8s cluster. I have created a service account, role (based on [Role-Based Access Control](https://kubernetes.dask.org/en/latest/kubecluster.html#role-based-access-control-rbac)) and role binging.
My container has a python script that runs the script below (`run.py`) with the corresponding `worker-spec.yml`.
The application r

[2022-05-18 23:55] jadeidev commented on #498
Ok, after reading some other issues I have been able to find some problems and make it work. #466 was definitely helpful.
It seems that using worker-spec.yml file is causing issues. I have changed my python script `run.py` above to create config using the `make_pod_spec`
when this container runs on the cluster it works like a charm.

[code]

[2022-05-19 08:35] jacobtomlinson commented on #442
I am also seeing this with running `kubectl scale`. Scaling down just generally seems broken.

[2022-05-19 08:39] jacobtomlinson commented on #498
Sorry you're having trouble here. You are right that the container is expected to have a certain name.

I checked our docs to see what the example shows and that was wrong so I've raised #500 to fix that.

Given that you've found a solution I'm going to close this out. But please feel free to follow up if you have any more issues.

[2022-05-19 08:39] #498 closed

[2022-05-19 08:51] jacobtomlinson commented on #442
It seems this is because the worker name and pod names are not aligned.

[2022-05-20 13:45] bstadlbauer commented on #466
@jacobtomlinson A PR which should fix this is out, let me know what you think (#503)

[2022-05-23 06:11] bstadlbauer commented on #483
Hi @jacobtomlinson!

Upfront, thanks for the great work on the operator, that should make life easier on multiple ends! I've already played around with it a bit and so far things are looking really good 👍  For a bit of context, I am currently working on integrating `dask` into [Flyte](https://docs.flyte.org/en/latest/) by providing a `Dask` Flyte-task which manages the ephemeral `dask` cluster lif

[2022-05-23 10:04] jacobtomlinson commented on #466
Many thanks for picking this up @bstadlbauer. I am intending to release this week once the upstream `2022.05.1` release happens.

[2022-05-24 22:57] ljstrnadiii commented on #475
The first thing I looked for experimenting with KubeCluster with the Operator was support for
[code]

[2022-05-25 08:24] jacobtomlinson commented on #475
Yeah these are the kind of extra config things I want to enable with this issue.

I'm also conscious about getting #474 in as well as currently we either have an easy mode with very limited configurability, or a hard mode with unlimited configurability but a ton of gotchas. I'm hoping #474 will also introduce an intermediate mode for power users.

[2022-05-25 09:03] bstadlbauer commented on #483
Sound good! If we see any errors, we'll try to open PRs whenever we can 👍

I am by no means an expert on backend Flyte plugins, but the way these work is that they construct a K8s resource (of any kind), submit that resource to K8s and then watch it's state. The go interface a plugin needs to implement is [here](https://github.com/flyteorg/flyteplugins/blob/82be16b9e39907e0842f06bc9f2918f5e1f8eedb

[2022-05-27 14:06] #483 closed

[2022-05-30 14:19] csymeonides-mf opened #506 "Custom affinity is overridden by default affinity"
**What happened**:

I am trying to set a custom affinity on my Dask worker pods. I realise there is a [default affinity](https://github.com/dask/dask-kubernetes/issues/146) already defined, but I would prefer to use my own.

My custom affinity is something like this:
[code]

However when the pod starts up, it only contains the default affinity (output from `kubectl get pod -o yaml`:
[code]

**What

[2022-05-30 14:46] csymeonides-mf commented on #506
I've created a [PR](https://github.com/dask/dask-kubernetes/pull/507) for my suggestion above, happy to modify if there's a better way.

[2022-05-30 15:38] jacobtomlinson opened #508 "Operator docker image didn't get latest tag on release"
When `2022.5.1` was released the `ghcr.io/dask/dask-kubernetes-operator:2022.5.1` Docker image was built and published by Chartpress. However `ghcr.io/dask/dask-kubernetes-operator:latest` wasn't updated and continued to point to the previous release.

I've manually tagged `latest` and updated the registry so everything is ok now, but we need to fix this for the next release.

I'm guessing somethi

[2022-05-31 11:15] #506 closed

[2022-05-31 11:27] jacobtomlinson commented on #508
Just released `2022.5.2` and manually tagged again.

[2022-05-31 15:00] consideRatio commented on #508
In the jupyterhub org, using chartpress to publish z2jh and binderhub, I wished for this initially (https://github.com/jupyterhub/chartpress/issues/94), but I'm not wishing for it any more. I think it could encourage various behaviours that makes things harder for everyone.

I consider for example someone using `:latest` instead of a specified version then asking for help. They may even think that

[2022-06-01 13:55] graingert opened #516 "HelmCluster cluster names get carried over to subsequent Clusters"
[code]

see also https://github.com/dask/distributed/pull/5305#discussion_r886822632

[2022-06-02 01:15] hyunshim opened #517 "Adding argument to disable port forward for kubeCluster"
With a recent PR https://github.com/dask/dask-kubernetes/pull/489, dashboard is always port forwarded when kubeCluster is created. [Link](https://github.com/dask/dask-kubernetes/blob/2022.5.2/dask_kubernetes/classic/kubecluster.py#L647).
This method calls `check_dependency("kubectl")` which checks via shutil that requires kubectl to be installed. However, there are use cases where the use of port

[2022-06-02 14:14] dhirschfeld opened #518 "Trouble installing the new operator"
**What happened**:
I tried installing the new dask operator:
[code]
...which *seemed* to work

[code]
But the pod is in ImagePullBackOff:
[code]
..and seems to be trying to pull a version *`set-by-chartpress`*.

i.e. the version appears to not be being set by chartpress!

**Environment**:

- Dask version: latest
- Python version: py39
- Operating System: linux
- Install method (conda, pip, source)

[2022-06-02 19:45] #436 closed

[2022-06-03 01:28] dhirschfeld opened #519 "Creating an `experimental.KubeCluster` hangs if the user doesn't have the necessary permissions"
**What happened**:
Instantiating a `KubeCluster` object never returns:

![image](https://user-images.githubusercontent.com/881019/171768642-a654cf94-9a92-470d-a0a4-fcbf3d21cc98.png)

The operator pod logs show permission errors:
<details>
<summary><tt><b>kubectl -n dask logs pod/dask-operator-dask-kubernetes-operator-5c4f64cf76-kbgx2</b></tt></summary>

[code]
</details>

Interrupting the kernel g

[2022-06-03 02:07] dhirschfeld opened #520 "Operator ServiceAccount doesn't have the right permissions?"
I think #519 may be a consequence of *this* issue.

**What happened**:
When creating an `experimental.KubeCluster` I get the below permission error. The CRDs are installed and my local `kubectl` can connect to the cluster.
[code]
[code]

In #519 I thought the operator pod logs were telling me that my kube config file wasn't correct (i.e. `kubectl` wasn't working) but after fixing that, creating a

[2022-06-03 02:13] dhirschfeld commented on #520
In the permissions I see:
[code]
But no corresponding `daskjobs.kubernetes.dask.org`.

It seems like the template *should* be creating those permissions?
https://github.com/dask/dask-kubernetes/blob/c64b102ea9f33ae022383b8d0e16f09f6ecef1bd/dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/serviceaccount.yaml#L37-L40

[2022-06-03 02:14] dhirschfeld commented on #520
Maybe #512 hasn't made it into a release yet?

[2022-06-03 02:15] dhirschfeld commented on #520
It seems so: https://github.com/dask/dask-kubernetes/compare/2022.5.2...main

[2022-06-03 11:13] zulissi opened #521 "Documentation notes for dask-operator, and service account permission problems"
Thanks for the great work on the dask-operator!

Three quick notes from trying it on our cluster:
* The scaling of workers assumes that each worker pod only has one dask process. If there are multiple processes the worker-names (in dask) are something like `...-ef8274c-0`,`...-ef8274c-1` to mark which process they belong to, and scaling down will fail as the pod name will be `...-ef8274c`, so scal

[2022-06-06 16:30] jacobtomlinson commented on #521
Thanks for raising this! All useful feedback, I'll look into it.

[2022-06-06 23:46] dhirschfeld commented on #518
As all our production deployments use helm I'm keen to help ensure that works. Passing the `image.tag` is an easy fix here but I'm currently blocked on #520.

It seems the permissions fix went in in #512 but it appears a release hasn't been made which incorporates that yet.

I probably won't have much time to look into it in the immediate future so I'm happy to wait for a release (or two). I just

[2022-06-06 23:47] dhirschfeld commented on #520
Since it appears this has been fixed on `main` I'll close this out.

[2022-06-06 23:47] #520 closed

[2022-06-06 23:54] dhirschfeld commented on #519
I think the underlying reason for this is due to #520.

An action point here might be to apply a timeout to the connection attempt so the user gets some sort of feedback rather than it hanging indefinitely.

OTOH, if it Just Works after #520 is fixed then maybe there's not a lot of point in expending effort to guard against things which shouldn't occur in the first place.

[2022-06-07 15:21] jacobtomlinson commented on #490
We should also gracefully handle users not having the right permissions to create resources.

[2022-06-07 15:21] jacobtomlinson commented on #519
Thanks for raising this. This *should* be resolved by #520. I also kinda see this as related to #490 which tracks adding better error handling when resources fail to create. I'm going to update that one to also cover permissions issues and close this out.

[2022-06-07 15:21] #519 closed

[2022-06-07 15:24] #516 closed, assigned to nobody

[2022-06-07 15:50] jacobtomlinson commented on #518
Thanks @consideRatio.

We don't use leading zeros here do shouldn't be a problem. The rest of Dask is also looking to drop them.

I'll look into the `valuesPath` thing and see if I can set that correctly.

[2022-06-07 16:20] #517 closed

[2022-06-07 16:43] consideRatio commented on #518
Hmmm, I configured `valuesPath: image` in chartpress.yaml besides other image related config, and i got this.

![image](https://user-images.githubusercontent.com/3837114/172435164-b32f85ae-716f-4d5b-9607-999a61511aa5.png).

Removing `imageName` from the image config and adding `imagePrefix` to the chart config, i got the same output as well. Chartpress will update image.name to match its configura

[2022-06-08 10:47] jacobtomlinson commented on #518
@consideRatio ah I was setting it to `valuesPath: image.tag`. My mistake. Many thanks!

[2022-06-08 17:48] #518 closed

[2022-06-10 00:19] isaacbrodsky opened #527 "Cannot define additional containers using make_pod_spec and extra_pod_config"
Using make_pod_spec, it is not possible to add additional containers correctly.

[code]
Expected: type should be `kubernetes.client.models.v1_container.V1Container`

The type needs to be preserved because https://github.com/dask/dask-kubernetes/blob/f67c58b28e3af0a7126a40a2ceb675f1de6c6059/dask_kubernetes/objects.py#L207 requires that it be `V1Container`, not `dict`. Or, that line needs to be chan

[2022-06-13 16:08] jacobtomlinson commented on #527
Thanks for raising this. Do you have interest in opening a PR to resolve this?

[2022-06-16 22:33] ljstrnadiii opened #528 "Lost connection to Pod"
We currently use HelmCluster with dask_kubernetes `Version: 2022.5.0` and connect with
[code]
We then port forward with
`kubectl port-forward --namespace $NAMESPACE svc/${DEPLOYMENT}-scheduler $DASK_SCHEDULER_PORT:8786`, but often see this error show up inconsistently where we run the port forward:
[code]
and sometimes it is accompanied by errors in python such as

<details>
<summary>Python Errors

[2022-06-16 22:34] ljstrnadiii commented on #528
Apologies if this is not complete enough, but perhaps there is some advice to make this a bit more resilient? I am also just curious if anyone else experiences this.

[2022-06-17 19:46] isaacbrodsky commented on #527
Not immediately, I have a workaround where I modify the worker pod spec after calling this function.

[2022-06-22 12:43] RahulJangir2003 commented on #416
Hey I am having this same error when i am using yarncluster i have downloaded the packages using conda(bootstrap script provided by dask docs). what should i do?

[2022-06-22 15:53] ljstrnadiii commented on #528
It seems that kubectl port-forward is not really designed for this and we are resorting to using the LoadBalancer serviceType. Sorry for the noob fluff issue. Closing

[2022-06-27 13:08] bstadlbauer opened #529 "Go client for the k8s operator"
As part of the `dask` backend plugin work for [flyte](https://docs.flyte.org/en/latest/) that I am doing, I have also started creating a golang client for the operator in `dask-kubernetes`. There is an initial rough draft [in this repo](https://github.com/bstadlbauer/dask-k8s-operator-go-client), which only implements the API so far.
I was wondering, once it is more mature, if you guys would like

[2022-06-27 16:19] jacobtomlinson commented on #529
Many thanks for this, this is great to see. I think this is far enough out of scope for `dask-kubernetes` that it might not be good to merge it here. Given that it is a community maintained tools maybe it is a good candidate to migrate to [dask-contrib](https://github.com/dask-contrib/)?

[2022-07-08 07:10] bstadlbauer commented on #529
Sounds good 👍
I'll post an update here once the project has matured a bit :-)

[2022-07-08 10:58] jacobtomlinson opened #533 "How can I disable the port-forward?"
How can I disable this port-forward? I do not need it because dask scheduler/dashboard is accessible through the kubernetes service. It is not necessary to run "kubectl port-forward", it should not be used.

_Originally posted by @project-administrator in https://github.com/dask/dask-kubernetes/issues/489#issuecomment-1177473955_

[2022-07-08 11:05] jacobtomlinson commented on #533
It is my understanding that the Kubernetes service can act as a layer 7 proxy, so web services can be accessed through it. But Dask uses a custom TCP protocol for communication which I don't think the Kubernetes service can proxy. If my assumption is wrong here I'd be keen to learn more though.

The `KubeCluster` object needs to open a connection with the scheduler. If the scheduler has been expos

[2022-07-08 13:43] project-administrator commented on #533
No, Kubernetes service is just a TCP-proxy basically.

`KubeCluster` object should be able to access the scheduler through the kubernetes service resource by connecting to the host address which matches the kubernetes service resource name.

The connection should succeed once the pods to which kubernetes service points are ready.

[2022-07-08 15:39] jacobtomlinson commented on #533
Thanks for the info. Do you have any good resources where I can learn more? I haven't seen anyone using the Kubernetes service in practice before. And googling "Kubernetes Service" gives lots of unrelated results.

So in terms of adding support for this is there a way we can discover the address of the service and check that it is accessible? Or is this something you would expect to provide as a u

[2022-07-09 06:09] project-administrator commented on #533
https://kubernetes.io/docs/concepts/services-networking/service/

I can see that KubeCluster class creates three resources on the Kubernetes cluster: pods, service, podDisruptionBudget. So, we already have the Kubernetes service created.

In order to connect to the dashboard, use the Kubernetes service name as the DNS hostname to connect to.

Another question is that cluster.scale() creates more p

[2022-07-11 15:49] mmccarty commented on #533
Thoughts on an opt-out flag for port-forwarding?

[2022-07-11 18:56] jacobtomlinson commented on #533
I am a little confused. I thought you meant accessing via the proxy in the Kubernetes API server, but you mean accessing the dask-scheduler service directly right? We already support this. We attempt to connect to the service directly and only port-forward if that fails.

https://github.com/dask/dask-kubernetes/blob/e83e22f032f0f0e990a04589ae5246e7eee63560/dask_kubernetes/common/networking.py#L39

[2022-07-20 14:35] jacobtomlinson opened #536 "Operator fails if nodeport out of allowed range"
If a `DaskCluster` is configured with a `NodePort` service but the ports are out of range the `DaskCluster` will be created but the controller logs will error repeatedly.

[code]

We should do a little more input checking to ensure this can't happen. We should also have the controller put the `DaskCluster` into some kind of failure status while this is going on.

[2022-07-21 16:29] project-administrator commented on #533
OK, I'm not sure why does it fail the `_is_service_available` check and falls back to port-forwarding, because I am able to connect to dask by using the Kubernetes service.. Since I'm sure that I'm able to use the Kubernetes service for the connection, I thought it might be a good idea to skip the port-forwarding.

[2022-07-25 09:30] jacobtomlinson commented on #533
Are you able to open another Python process and see why `socket.getaddrinfo(host, port)` is failing?

[2022-07-28 10:32] jacobtomlinson opened #537 "Allow users to set the worker command in experimental.KubeCluster"
Currently, it isn't possible to set the worker command via the Python API, only via the YAML.

#475 covers allowing users to pass a full spec to `KubeCluster`, which is one route to solving this, but insisting users set the whole pod spec is definitely a nuclear option.

Exposing some common options as kwargs makes sense, but perhaps we should consider allowing folks to patch the spec too instead

[2022-07-28 10:34] jacobtomlinson commented on #475
One other thought here is in addition to allowing folks to configure the whole spec maybe we should also support an option like `pod_template_patch` which allows you to provide a partial spec that gets upserted onto the auto generated one. This could be useful for overriding one or two things without having to provide the entire spec.

[2022-07-29 09:34] jacobtomlinson opened #539 "Load default configuration from Dask config in experimental KubeCluster"
The first iteration of the experimental `KubeCluster` stored the default values in the class kwarg defaults and the only way to override them via kwargs.

For example `n_workers`:

https://github.com/dask/dask-kubernetes/blob/e83e22f032f0f0e990a04589ae5246e7eee63560/dask_kubernetes/experimental/kubecluster.py#L127

https://github.com/dask/dask-kubernetes/blob/e83e22f032f0f0e990a04589ae5246e7eee635

[2022-07-29 10:58] #537 closed

[2022-07-29 11:00] jacobtomlinson opened #540 "Dashboard port formatting CI failure"
Recently one test on the classic `KubeCluster` has started failing in CI.

[code]

it seems like the port listed under the dashboard service doesn't match up with the port being formatted into the `daskboard_link`.

https://github.com/dask/dask-kubernetes/runs/7413643070?check_suite_focus=true

Explored a little in #535 but haven't found a solution yet.

[2022-07-29 15:30] jacobtomlinson commented on #540
Minimal reproducer

[code]

[2022-07-29 15:44] jacobtomlinson commented on #540
This seems to be related to the changes in #489. The port showing in the `dashboard_link` is the `forwarded_dashboard_port` but the port showing in `cluster.scheduler_info["services"]["dashboard"]` is the true port.

That makes complete sense, the forwarded port won't match the actual port. What I'm confused about is why this test only started failing recently.

cc @mmccarty

[2022-07-29 16:19] #540 closed

[2022-08-04 05:32] ahzaz commented on #416
@RahulJangir2003 Please check https://github.com/dask/dask-yarn/issues/155

[2022-08-11 14:58] jacobtomlinson opened #544 "Remove type suffixes"
When creating a `DaskCluster` with `dask_kubernetes.experimental.KubeCluster` the name you specify gets `-cluster` added onto the name.

[code]

[code]

https://github.com/dask/dask-kubernetes/blob/ffa43642439973409d3714c9814846413ce7d049/dask_kubernetes/experimental/kubecluster.py#L163

Also the service that gets created has `-service` added to the end of its name.

[code]

https://github.com/das

[2022-08-17 12:56] #490 closed

[2022-08-24 13:33] jacobtomlinson opened #546 "Finalizers can cause the test suite to time out on teardown."

[2022-08-24 14:27] jacobtomlinson opened #547 "Consolidate operator installation manifests"
Installing the operator means applying 4 manifests (5 with #451).

<img width="855" alt="image" src="https://user-images.githubusercontent.com/1610850/186444157-051d7a7a-99a9-4966-9819-92df58ae4593.png">

_Source: https://kubernetes.dask.org/en/latest/operator_installation.html_

Given that we are [automatically building the CRDs from templates](https://github.com/dask/dask-kubernetes/blob/main/ci

[2022-08-24 15:24] #440 closed, assigned to nobody

[2022-08-25 13:19] bnaul opened #548 "KubeCluster() fails with deploy_mode="local": 'Scheduler' object has no attribute 'service'"
After #525, I am seeing the following when trying to start a (classic) KubeCluster with `deploy_mode="local"`:
[code]
It seems that `self.scheduler` here is the `distributed.Scheduler` object, not the `Pod`. Without the deploy_mode kwarg it works fine.

cc @jacobtomlinson

[2022-08-25 13:27] bnaul commented on #548
I'm guessing something like this would work instead?
[code]
not sure there's a more elegant way than gating on `if self._deploy_mode == "local":`...?

[2022-08-25 15:43] jacobtomlinson commented on #548
Thanks for raising this @bnaul.

We definitely shouldn't be trying to port forward the dashboard in local mode. I think it would be fine to add a check here.

Do you have any interest in raising a PR?

[2022-08-25 19:09] radioflyer28 opened #550 "KubeCluster looking for scheduler at wrong port when using NodePort service"
**What happened**:
KubeCluster times out when creating a cluster with NodePort service because it's looking for scheduler at 8786 when port is actually a randomized port (e.g. 32367). Note, the scheduler pod does start correctly.

Python test client error:
[code]

NodePort service in Rancher:
![image](https://user-images.githubusercontent.com/9313101/186747554-9929846b-804c-4dcf-bbfb-ab85e10e9a40.

[2022-08-25 19:12] radioflyer28 commented on #550
Parent forum post with @jacobtomlinson
https://dask.discourse.group/t/kubecluster-provisions-pod-but-times-out-before-returning-cluster-object/1049

[2022-08-26 08:43] jacobtomlinson commented on #550
I think this line is the cuprit

https://github.com/dask/dask-kubernetes/blob/8bd508394ba1981186115c18da3dfbdce536226b/dask_kubernetes/common/networking.py#L34

[2022-08-26 11:22] #475 closed

[2022-08-26 11:22] #544 closed

[2022-08-26 11:29] jacobtomlinson opened #551 "Enable configuring scheduler service type"
To configure the scheduler service type for `dask_kubernetes.experimental.KubeCluster` you need to use the advanced method of editing the spec.

[code]

This is a pretty common configuration option to set so it would be good to expose this via a keyword argument in `dask_kubernetes.experimental.KubeCluster` and `dask_kubernetes.experimental.make_cluster_spec`.

[2022-08-30 14:35] #548 closed

[2022-09-02 10:49] #481 closed

[2022-09-08 00:18] brando90 commented on #238
that didn't work for me even after installing gcc:
[code]

[2022-09-08 17:57] brando90 commented on #238
the solution in this article seems to work for me: https://stackoverflow.com/questions/73323180/docker-centos7-image-psutil-get-installed-on-windows-linux-but-failed-on-mac

basically add the `--platform linux/amd64` to build and I assume to every further command too.

[2022-09-13 17:41] webcoderz opened #561 "dask operator scheduler service name"
is it possible to change the service name having issues trying to connect my workers and other containers to the scheduler using dask-scheduler:8786 ? the dask-scheduler:8786 value is hardcoded in another image container so trying to avoid changing that elsewhere

[2022-09-13 19:36] webcoderz commented on #561
[code]
just in case people look here in future

[2022-09-13 19:59] webcoderz commented on #561
`apiVersion: v1
kind: Service
metadata:
  name: dask-scheduler
spec:
  ports:
    - name: "8786"
      port: 8786
      targetPort: 8786
    - name: "8787"
      port: 8787
      targetPort: 8787
  selector:
      dask.org/cluster-name: dask
      dask.org/component: scheduler`

made my own service  but this is a hacky workaround..

[2022-09-27 09:37] jacobtomlinson commented on #561
Could you share how you are creating the cluster?

[2022-09-28 13:43] #539 closed

[2022-09-28 13:43] #551 closed

[2022-09-28 19:32] jmif opened #566 "Local port forwarding failing"
**Describe the issue**:

I'm consistently getting "kubectl port forward failed" from `port_forward_service` using the standard `KubeCluster` class to create an ad hoc cluster.    When this happens the port forward is successfully setup and I can connect via the port that is opened, but the `is_comm_open` check returns false.   `sock.connect_ex((ip, port))` is always returning code 22 which is esse

[2022-09-29 15:32] jacobtomlinson commented on #566
Thanks for raising this.

Could you share a little more about how your cluster is set up. Where is you Kubernetes cluster (on prem, GKE, etc)? How are you connecting to it (from a server in the same data centre, from a laptop over a home DSL connection, etc)?

[2022-09-30 16:31] caleb-recursion opened #567 "Persistence with dask-kubernetes dashboard"
Hi there, this might be a feature request or it might be a newbie question, thanks for any pointers.

I have a system that uses dask-kubernetes to run some distributed python workloads in ephemeral clusters. The dashboard is very useful but only lives as long as the k8s scheduler pod lives. Once the job finishes the dashboard is not accessible because the pod has been cleaned up. I would like to b

[2022-09-30 18:25] caleb-recursion commented on #567
Should I keep a persistent scheduler around and submit multiple jobs or tasks through it?

[2022-09-30 19:40] jmif commented on #566
Sure thing, I'm connecting from my local MacBook Pro over a fiber connection and Kube cluster is GKE Autopilot.  The connection itself is working fine but the check for the connection itself is failing.  The `is_comm_open` retries 100 times and while it is retrying I'm able to connect to the scheduler over the port that has been successfully forwarded, but `sock.connect_ex((ip, port))` continues t

[2022-10-03 13:48] jacobtomlinson commented on #566
Code `22` suggests that the `ip` or `port` being passed to the `sock.connect_ex` call are invalid. Which is a little strange and I've not seen this in my testing.

Does it print out anywhere what those values are?

[2022-10-03 13:50] jacobtomlinson commented on #567
I think you're looking for [performance reports](https://distributed.dask.org/en/stable/diagnosing-performance.html#performance-reports) which dump metrics to a static HTML file that you can view any time in the future after the cluster has been cleaned up.

[2022-10-03 13:50] #567 closed

[2022-10-03 15:05] jacobtomlinson commented on #547
It would also be nice to have some way of getting the path to the local manifests if you have `dask-kubernetes` installed.

Maybe this would be a good use for the new `dask` CLI. We could add a `kubernetes` namespace that does this.

[code]

This way you could pass this straight into `kubectl` to ensure you're installing the same operator version as your locally installed package.

[code]

[2022-10-03 20:31] jmif commented on #566
It doesn't print out but I've used a debugger to trace what is happening (I've also confirmed this is happening in a non debugger environment just to be sure).  The ip being passed [here](https://github.com/dask/dask-kubernetes/blob/637ea1cd0714aad8870362e0a8849a3bf5c5015a/dask_kubernetes/common/networking.py#L97) is `localhost`, I've tried changing it to `127.0.01` as well.  Port changes each tim

[2022-10-05 11:34] jacobtomlinson commented on #508
Circling back here. I agree that a `latest` tag isn't good practice.

The problem I'm having is that you can either install the operator via helm or via manifests. The helm chart gets the correct tag thanks to chartpress. However, the manifests still have `ghcr.io/dask/dask-kubernetes-operator:latest` hardcoded.

So the other solution would be to automatically bump this version in the manifest dur

[2022-10-10 18:20] bstadlbauer opened #571 "Ability to add annotations to dask k8s resources"
As discussed in [this discourse post](vhttps://dask.discourse.group/t/add-annotation-to-worker-pods-when-using-the-dask-k8s-operator/1175), it might be nice to have a possibility of adding annotations to `dask`-related resources (job-runner, scheduler as well as worker pods).

Per the discussion on discourse, this could happen by implicitly passing down annotations from the top-level `dask` custom

[2022-10-10 19:02] bstadlbauer opened #573 "Add status to `DaskJob` CRD"
Would it be possible to track the status of a job in the toplevel `DaskJob` CR? This would have the advantage of hiding the "implementation details" of the job from a user. I.e. instead of having to know about the state of a `job-runner` pod that gets created as part of a `DaskJob`, one could only look at the `DaskJob` resource to get that information.

A particular use case here would be the Flyt

[2022-10-11 18:11] timblakely opened #575 "Dask operator image `:latest` isn't tracking `2022.10.0`"
Looks like the `:latest` tag on (the GitHub Container Repo)[https://github.com/dask/dask-kubernetes/pkgs/container/dask-kubernetes-operator] is pointing at `2022.5.2` instead of the most recent `2022.10.0`. Probably want to bump that up to the latest, since it doesn't work with the current `2022.10.0` pip package release (times out waiting for a state transition during cluster creation).

[2022-10-13 07:59] #571 closed

[2022-10-15 10:34] semnooij commented on #566
A similar issue pops up when trying to set up a operator.KubeCluster on a locally running Kubernetes via Docker Desktop. Adding a sleep fixes the issue there as well.

[2022-10-17 10:31] jacobtomlinson commented on #566
Putting in a two second sleep isn't really a sustainable solution here. The current implementation is trying to open the port and sleeping for two seconds if it fails until a timeout is reached. Really we need to figure out why the port connection isn't working.

Are you able to call the method manually from another Python session to see if it gives any further errors?

[2022-10-19 08:08] kwohlfahrt opened #579 "reap_clusters errors due to event loop already running"
**Describe the issue**:

On Python interpreter shutdown, the `reap_clusters` function runs. This fails if the event loop is already running, which is always the case if a `KubeCluster` exists. This:

1. fails to clean up the cluster if it is not closed
2. presents a spurious error message if the cluster is closed

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**

[2022-10-19 09:39] jacobtomlinson commented on #579
@graingert do you have any thoughts on a good solution for this?

[2022-10-21 19:01] patrik93 commented on #547
Hi there, I would be happy to start on this issue. The first part is clear, however the comment added after would need some clarification since I'm not actively using the CLI tool. Is it an option to separate this two into 2 issues?

Thanks!

[2022-10-23 04:37] baswelsh commented on #566
I believe I have an acceptable fix to this.  The issue seems to be related to the state of the socket after a failed connection.  If the first call to `sock.connect_ex()` fails, it continues to return the same error code on subsequent calls, even when a connection is "possible".  If we reinitialize the socket every loop iteration, that fixes the issue with sufficiently small impact.  I also droppe

[2022-10-23 04:59] baswelsh opened #581 "Proposal to bump the `latest` tag to `dask-kubernetes-operator:2022.10.1`"
**Describe the issue**: The `latest` image in [ghcr.io/dask/dask-kubernetes-operator](ghcr.io/dask/dask-kubernetes-operator) is outdated.  It is currently tagged on the `2022.5.2` image which is what is pulled into Kubernetes when deploying the Dask Operator.  The result is an inability to deploy clusters via `KubeCluster`.

As far as I can tell, `2022.5.2` isn't compatible with the latest `KubeCl

[2022-10-23 05:07] jadeidev opened #582 "Can't start cluster from a pod in the cluster"
**Describe the issue**: Cannot start KubeCluster (using the operator) from a pod that runs on the K8s cluster

**Minimal Complete Verifiable Example**:

- Start new minikube cluster.
- Install Dask-Kubernetes helm per instructions.
- Start a python:3.8 Pod on the cluster with dask-kubernetes installed on it.
- Start pod shell
within the pod shell run python and start KubeCluster:
[code]
Result:
ge

[2022-10-23 05:08] baswelsh commented on #579
I hit this one too.  How does this look? Bottom of kubecluster.py.

[code]

Happy to open a PR.

[2022-10-23 05:13] baswelsh commented on #581
Duplicate of #508

[2022-10-23 14:53] semnooij commented on #566
That seems to resolve it for me as well. I'd suggest the following instead of the explicit closure.

with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as sock:
    result = sock.connect_ex((ip, port))

[2022-10-23 17:57] baswelsh commented on #582
You likely need to create a ClusterRole with the necessary permissions/rules and a ClusterRoleBinding to the relevant ServiceAccount.

Something less permissive than what is shown [here](https://raw.githubusercontent.com/dask/dask-kubernetes/main/dask_kubernetes/operator/deployment/manifests/operator.yaml).

[2022-10-23 21:23] jadeidev commented on #582
thanks @baswelsh I added this to the operator docs.

[2022-10-24 13:58] #581 closed

[2022-10-24 14:03] jacobtomlinson commented on #566
Thanks for looking at this @baswelsh I'd love to see a PR with this. Totally agree with @semnooij that a context manager is a nice way to handle this.

[2022-10-24 14:04] jacobtomlinson commented on #579
A PR would be much appreciated!

[2022-10-25 08:54] cagantomer opened #585 "Wrong kubernetes version in requirements?"
**Describe the issue**:
Due the listed version of `kubernetes` dependency (v12.0.1, see [here](https://github.com/dask/dask-kubernetes/blob/main/requirements.txt)), in certain condition, `pip install dask_kubernetes` would install older versions of `kubernetes` (e.g. 17.17.0) which do not yet have `V1PodDisruptionBudget` class / attribute. This will result in the following error when trying to sta

[2022-10-25 09:53] jacobtomlinson commented on #585
Thanks for raising such a detailed issue. If you have an interest in making the PR to bump the minimum up that would be awesome! Feel free to ping me directly for review.

[2022-10-25 12:18] cagantomer commented on #585
What version should I change to - first that introduced `V1PodDisruptionBudget`? Latest available?
More importantly, how do I test this change doesn't break anything?

[2022-10-25 12:31] jacobtomlinson commented on #585
I think the first that introduced the `V1PodDisruptionBudget` will be fine.

We currently don't test minimum versions (which is how this happened in the first place) and I don't expect we will start now. If problems like this start coming up more often then of course we can reassess that.

If the CI passes with your PR then I'm happy to merge it. If you want to test it more robustly locally I reco

[2022-10-25 15:19] #582 closed

[2022-10-27 11:08] jacobtomlinson opened #589 "Helm tests are failing"
Seems like the helm-related CI is failing. I'll update here as I investigate.

[2022-10-27 17:17] zoonman opened #592 "Error: Dask Cluster resource not actioned after 60 seconds, is the Dask Operator running?"
Hi guys. I am using v2022.10.1 and installed CRDs, I see the operator running.

My code is a trivial example:
[code]
The code eventually fails with the following stack trace:
[code]

Everything gets created, I see scheduler:
[code]

And here is operator logs:

[code]

**Environment**:

- Dask version: 2022.10.1
- Python version: 3.8.13
- Operating System: Linux 5.4.188-104.359.amzn2.x86_64 #1 SMP

[2022-10-27 20:13] zoonman commented on #592
After extensive research I figured out that `dask-kubernetes-operator` deployment points to `latest` tag which is not actually the latest one.

This is ticket should be resolved by this https://github.com/dask/dask-kubernetes/issues/508

Workaround in https://github.com/dask/dask-kubernetes/pull/593

[2022-10-28 08:56] jacobtomlinson commented on #592
Thanks for raising this, it's a nicely written issue. I'm going to close it out as a duplicate of #508 and I plan to get a fix in for that today.

[2022-10-28 08:56] #592 closed

[2022-10-28 09:04] #566 closed

[2022-10-28 10:06] #579 closed

[2022-10-28 10:23] #508 closed

[2022-11-01 07:46] john-jam opened #598 "Creating KubeCluster asynchronously does not start a cluster"
**Describe the issue**:

When creating the `operator.KubeCluster` with the `asynchronous` param to `True`, the cluster is never started.

In the example below, I got this error when I try to call the `adapt` method:
[code]

My guess is that the `_start` method of `operator.KubeCluster` is never called. With the `classic.KubeCluster`, when running asynchronously, the `_start` method was called in t

[2022-11-01 10:04] john-jam commented on #598
Yes sure. I think I'll add it in the `KubeCluster` class if that works for you.

[2022-11-01 14:47] jacobtomlinson commented on #598
Yup that makes sense.

[2022-11-09 19:45] kwohlfahrt opened #603 "Worker group doesn't recover after pod deletion"
**Describe the issue**:

When creating a Dask cluster, it initially starts with the correct number of worker pods. If a pod is deleted (e.g. due to a spot node terminating), this pod is never restored by the operator.

This makes dask largely unusable with spot-instance based clusters, as these may be terminated at any time, and Dask makes no attempt to restore them, leading to stuck jobs that sti

[2022-11-09 19:57] timblakely opened #604 "Operator Helm chart needs updating - missing `daskworkergroups/scale` permission"
Looks like the current version (2022.10.1) of `dask-kubernetes-operator` on ArtifactHub is missing the `daskworkergroups/scale` permission that was added in #584:

![image](https://user-images.githubusercontent.com/11380482/200927915-25feedb4-e75e-46cc-9272-e7eefa3d8a56.png)

This prevents the operator from scaling workers unless you manually patch in the permission. With default Helm values this

[2022-11-09 20:17] kwohlfahrt commented on #603
This doesn't seem to be affected by the presence of an autoscaler, even if deleting enough pods to bring it below the minimum size configured.

[2022-11-10 14:49] jacobtomlinson commented on #603
Thanks for raising this. I've opened #605 to resolve this.

[2022-11-10 14:50] jacobtomlinson commented on #604
Yup this has already been fixed. I'll get a release out soon.

[2022-11-10 14:50] #604 closed

[2022-11-10 15:02] jacobtomlinson opened #606 "Recreate scheduler if lost"
In #603 a bug was reported that workers are not automatically replaced if they are lost, e.g when a spot instance gets terminated. This opens the question of what should happen if the scheduler happens to be lost?

Losing the scheduler is a big deal because the client will need to reconnect and all work will be lost and need to be resubmitted. Therefore I would advise most folks to ensure the sche

[2022-11-14 16:55] jacobtomlinson opened #610 "test_multiple_clusters_simultaneously_same_loop hangs frequently in CI"
The `test_multiple_clusters_simultaneously_same_loop` is flaky and hangs around 10% of the time.

https://github.com/dask/dask-kubernetes/actions/runs/3461240518/jobs/5778594809
https://github.com/dask/dask-kubernetes/actions/runs/3461240518/jobs/5778594528
https://github.com/dask/dask-kubernetes/actions/runs/3461266262/jobs/5778653244

I've skipped it in #609 for now and opening this to track rei

[2022-11-17 09:35] thomafred opened #612 "Release version `2022.11.0`"
Dask version `2022.11.0` which uses version `2022.11.0` of `distributed`.

`distributed` changelogs: https://distributed.dask.org/en/stable/changelog.html

[2022-11-17 10:43] jacobtomlinson commented on #612
Dask and Distributed are released in lock-step but other projects within the Dask ecosystem are released on their own timescales. Are you running into some problems using `dask-kubernetes` with dask/distributed `2022.11.0`?

[2022-11-17 10:51] thomafred commented on #612
Running into problems using the `KubeTaskRunner` in Prefect. Someone in the slack suggested the problem may be related to some version incompatibilities.

Thread link: https://prefect-community.slack.com/archives/CL09KU1K7/p1668636731693759?thread_ts=1668626956.875259&cid=CL09KU1K7

[2022-11-17 10:54] jacobtomlinson opened #613 "Calling operator.controller.daskcluster_create_components can take a very long time"
The `dask_kubernetes.operator.controller.daskcluster_create_components` handler can run for a long time because it creates resources and waits for them to be ready. This has been extended in #611 with the handler waiting for the full load balancer to be provisioned if the scheduler service is `LoadBalancer` type. If the controller is killed/restarted while the handler is waiting we will run into e

[2022-11-18 19:47] patmagauran opened #615 "Ability to configure port for forwarding"
Right now, the cluster scheduler's dashboard port is forwarded to a random system port. Ideally this port should be configurable for deployments where that makes sense. For example, I am running this in docker on windows and thus can't use host networking for the docker container and obviously can't forward every possible port from the container.

I am willing to make the changes necessary, but I

[2022-11-21 08:40] romanGarvis opened #616 "Cannot connect to kube-api service"
**Describe the issue**:
Getting timeout error to the kube-api service when dask is trying to remove workers

Error logs:
[code]

**Environment**:
- AKS version: 1.23.8
- Dask version: 2022.9.1
- Python version: 3.8.15

[2022-11-21 10:32] jacobtomlinson commented on #616
Thanks for raising this @romanGarvis. It is strange that the Kuberenetes API becomes unavailable. Do tools like `kubectl` work as expected when you see this error?

Also I just want to point out that you are using the classic implementation of `dask-kubernetes` which we are intending on deprecating. Have you tried the [new implementation](https://kubernetes.dask.org/en/latest/operator.html)?

[2022-11-21 10:33] jacobtomlinson commented on #615
Could you share how you are creating your cluster, this project has a few different tools in and it's unclear which you are referring to?

[2022-11-21 13:58] romanGarvis commented on #616
Thank you for your answer @jacobtomlinson

Yes. I think it's not related to the Kubernetes API because we're monitoring the endpoint and don't see any abnormal amount of requests or increasing response time.

Not yet, thank you. We need to investigate and implement it. But it's like a long term solution, however we're trying to find the root cause of this issue and fix it ASAP.

[2022-11-21 14:34] jacobtomlinson commented on #616
Could you share more information about how you are constructing your cluster? Are you inside k8s or external (if external the port forward could be breaking)?

[2022-11-21 15:07] geertjan-garvis commented on #616
we're in InCluster mode
[code]

[2022-11-22 10:08] jacobtomlinson commented on #615
Ok great I understand. Yeah making the port-forward local port configurable makes total sense. I also wonder if by default we should try and forward to the default ports (8786 for the comm and 8787 for the dashboard) and fall back to random ports if those are in use.

Dask has a config system which supports env vars and more, so that would be the preferred way to implement this.

[2022-11-22 10:15] jacobtomlinson commented on #616
I've opened #617 with a potential mitigation to this. Could you try out that branch and see if it works for you? Also as I said I'd recommend migrating to the new implementation, it shouldn't be too much work, shout if you run into any trouble with that.

[2022-11-22 10:26] geertjan-garvis commented on #616
thanks @jacobtomlinson , we will try this.
we have indeed kicked off work to move to the new implementation as well

[2022-11-23 17:37] patmagauran commented on #615
I will look into adapting my current work into the dask config setup and submit a PR shortly.

[2022-11-23 19:35] romanGarvis commented on #616
Regarding your recommendation we've installed the Operator
[code]

and trying to create DaskCluster resource manually
[code]

but it doesn't scale pods for scheduler, workers, etc and logs from Operator is empty

With DaskWorkerGroup it works as expected
[code]

From Operator logs don't see that it's watching for DaskCluster resources
[code]

Could you please help?

[2022-11-23 20:00] geertjan-garvis commented on #616
@jacobtomlinson -- found the issue, it was failing because we also had a daskclusters CRT for dask gateway:
% kubectl get crd | grep dask
daskautoscalers.kubernetes.dask.org          2022-11-22T09:58:17Z
daskclusters.gateway.dask.org                2022-06-15T12:27:15Z
daskclusters.kubernetes.dask.org             2022-11-22T09:58:18Z
daskjobs.kubernetes.dask.org                 2022-11-22T09:58:18

[2022-11-24 12:19] jacobtomlinson opened #618 "Operator and Gateway CRDs should be able to coexist"
[code]

_Originally posted by @geertjan-garvis in https://github.com/dask/dask-kubernetes/issues/616#issuecomment-1325592765_

[2022-11-24 12:20] jacobtomlinson commented on #616
Ah sorry about that, they should be able to coexist. I've opened a new issue to track this bug.

[2022-11-24 12:32] jacobtomlinson commented on #618
Both dask-gateway and dask-kubernetes have a `daskclusters` resource. This should be fine because they are under different namespaces and folks with both sets of CRDs installed should use the fully qualified names.

[code]

Using the `daskclusters` short name will work too but it will use one or other of the CRDs depending on your k8s server priority settings. I *think* by default this is alphabet

[2022-11-24 12:51] #616 closed

[2022-11-24 13:28] #618 closed

[2022-11-24 20:38] saul-data commented on #497
Hello I am trying to simulate this on docker compose before going to K8S yaml. We have a lot of restrictions at work so we can't install the operator. The Istio mesh we are using enforces an authorization policy with specific ports for zero trust networking so I am hoping I can make this work. I have created a simulated "docker compose equivalent" to look at the logs.

The below docker compose wor

[2022-11-25 10:30] jacobtomlinson commented on #497
I was worried about this when we went down the operator road. Do you mean **you** can't install the operator because you don't have enough permission, or that your k8s admin team **wont** install the operator? Is this something we can resolve with better documentation for admin teams? Or some specific features in the controller? Given the direction the k8s community is going with operators I expec

[2022-11-28 02:42] baswelsh opened #620 "Dask Operator becomes unresponsive after ~1hr"
This one's a bit tricky.  I haven't been able to reproduce it in a kind or minikube cluster - it only happens in our hosted environments (i.e., AKS, EKS, etc.).  The dask operator deployment works great for a while and then becomes unresponsive.  I've seen it happen after being up for 1hr and 2hrs (pretty much on the nose).

The status of the pod is `running` but the logs are frozen and the operat

[2022-11-28 02:45] baswelsh commented on #620
Here is the specific `KubeCluster` block:

[code]

[2022-11-28 10:59] jacobtomlinson commented on #620
@baswelsh I've just tagged `2022.11.1` which has the liveness probe. Could you give that a try? It would be interesting to see if it starts failing and restarts the pod (which we should still find the root cause of).

[2022-11-28 18:30] baswelsh commented on #620
Thanks @jacobtomlinson.  I deployed the latest operator via helm and an initial test seems to indicate that it is fixed - although I am running a few more tests throughout the day.  Note that prior to this, I was installing the operator via the old method of using manifests.  Could this have been the cause of the original issue?

I haven't seen the pod restart (due to poor health or otherwise) so

[2022-11-28 19:19] baswelsh commented on #620
Scratch that - a little longer and it locked up.  I don't see an events under `kubectl describe pod/deployment`.  Where could I look to see if the health checks are running?  The pod was never replaced on unhealthy.

[2022-11-28 21:44] baswelsh commented on #620
Further findings:

Once locked up, I am able to hit the `/healthz` route from a different pod and receive responses indicative of good dask-operator pod health.

[code]

In my scenario, I have one scheduler and one worker.  I have now seen it lock up twice in the following way - It creates the scheduler and the Worker Group but seizes before it can scale the Worker Group up to one Worker from zero

[2022-11-29 04:19] xWaita opened #623 "dask worker group doesn't propagate labels into dask worker pod"
**Bug details**

This issue is simple to reproduce. Simply create a dask cluster with labels in the metadata, i.e.

[code]

We would expect this label to propagate into the dask worker group, dask scheduler, and dask worker pod. However these labels are only propagated into the dask worker group and the dask scheduler, **not** the dask worker pod.

**Explanation for bug**

We set the owner of the

[2022-11-29 10:32] jacobtomlinson commented on #620
I very much appreciate the rolling commentary, I don't think I'll be able to get to the bottom of this without your debugging help.

It makes sense that the replacement controller catches up. The kopf controller is designed to be interruptable (like if the node it is running on gets replaced) and I think it uses annotations to track what has and hasn't been operated on.

I was hoping that the heal

[2022-11-29 10:49] jacobtomlinson commented on #620
I spotted https://github.com/nolar/kopf/issues/847 which looks like a similar problem around kopf deadlocking on AKS after some idle period.

That issue suggests configuring some timeouts to work around this. I remembered we have #486 open which includes similar changes suggested by @philipp-sontag-by for timeout reasons. That PR is failing for reasons I still don't understand so I've raised #626

[2022-11-29 12:28] philipp-sontag-by commented on #620
Yes we had similar problems with our kopf operator. We haven't seen them since we configured the timeout settings though
[code]

[2022-11-29 14:57] baswelsh commented on #620
Thank you both!  I have a load balancer for pod/node egress out of AKS.

Is there a way to try these settings in the 2022.11.1 helm release?  Can they be configured after the fact?

[2022-11-29 15:16] jacobtomlinson commented on #620
@baswelsh once #626 passes CI I'll merge it and release `2022.11.2` so you can try it out.

[2022-11-29 15:33] jacobtomlinson commented on #620
Oops didn't mean to close. I've tagged `2022.11.2` which should be available on PyPI, Conda Forge, GitHub container registry, Helm repo, etc shortly. @baswelsh could you give it a test and let us know how it goes?

[2022-11-29 15:35] baswelsh commented on #620
Awesome.  I'll give it a try as soon as they publish and let you know what I find. Thanks @jacobtomlinson!

[2022-11-29 15:41] baswelsh commented on #620
This is strange - The container is failing to startup with the following exception:

[code]

Install command:

`helm install --wait --repo https://helm.dask.org --create-namespace -n dask-operator --version 2022.11.2 --generate-name dask-kubernetes-operator`

[2022-11-29 15:46] baswelsh commented on #620
Looks this be introduced in https://github.com/dask/dask-kubernetes/commit/80c11df1bb80cee307881473b2b0e09d0f447edd

[2022-11-29 16:00] baswelsh commented on #620
It looks like `pykube` is installed as a dep to a test dependency which explains why the CI passed. I will open a quick PR @jacobtomlinson.

[2022-11-29 18:45] baswelsh commented on #620
Thanks @jacobtomlinson!  So far, so good!  I'm going to close this and will reopen if further testing reproduces it. I appreciate the quick turnaround on this! 💯

[2022-11-29 20:09] baswelsh commented on #620
This issue just wont die! This one is my bad @jacobtomlinson - take a look at PR #628 for details.  Without this fix, the latest release is still broken, just in a different way.  Note that the operate has been stable however 🎉 .  This new issue is avoided by using a prior version of the client with the latest operator.

Relevant exception in operator logs:
[code]

[2022-11-30 00:04] webcoderz commented on #606
Ram into this in production on a client system the other day.. any chance you have a ETA when this fox will land?
Thanks, you're doing great work on this operator! 😊

[2022-11-30 10:20] jacobtomlinson commented on #620
Thanks for #628. Released `2022.11.4`

[2022-11-30 10:31] jacobtomlinson commented on #606
No ETA currently I'm afraid. Do you have any interest in contributing a PR?

[2022-11-30 13:12] #623 closed

[2022-11-30 21:04] baswelsh commented on #620
Awesome, thanks @jacobtomlinson.  I will get this tested and closed ASAP!